DB_SERVER=<>
DB_DATABASE=<>
DB_USER=<>
DB_PASSWORD=<>
DB_ENCRYPT=<true/false>
JWT_KEY=<jwt secretkey>
PORT=<port>
LOCAL_SYSTEM_IP=*
REG_EMAIL_HOST=<your smtp>
REG_EMAIL_PORT= <port>
REG_EMAIL_FROM=<email from>
REG_EMAIL_USER=<email login>
REG_EMAIL_PASS=<email password>
REG_EMAIL_LINK_ACCEPTED=<frontend url>/firstlogin
REG_EMAIL_LINK_DISMISSED=<frontend url>/dismissregistration
FILESTREAM_BLOB_CONNECT=<''>
