@import "../../App.scss";

.page-login {
  main {
    position: relative;
    height: 80vh;
    min-height: 768px;
    background-image: url(./BackgroundLogin.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (max-width: 530px) {
  .page-login {
    main {
      height: 0;
      background-image: none;
      background-color: $DESIGN_BLACK_10;
    }
  }
}
