@import '../../../App.scss';

.page-contact-budapest {
  main {
    position: relative;
    height: 70vh;
    min-height: 768px;
    background-image: url(./BackgroundBudapest.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (max-width: 530px) {
  .page-contact-budapest {
    main {
      height: 0;
      background-image: none;
      background-color: $DESIGN_BLACK_10;
    }
  }
}
