@import "../../../App.scss";

.news-item {
  margin: 40px 0px;
  padding: 20px 40px;
  background-color: $DESIGN_BLACK_20;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  .commandline {
    text-align: right;
  }

  h3 {
    font-size: 1.2rem;
    color: $DESIGN_DARK_BLUE;
  }

  h4 {
    font-size: 0.8rem;
    color: $DESIGN_DARK_BLUE;
  }

  a {
    font-size: 0.8rem;
    margin: 25px 0px 0px 0px;
    color: $DESIGN_DARK_BLUE;
  }
}

@media only screen and (max-width: 640px) {
  .news-item {
    margin: 10px 0px;
  }
}
