@import "../../App.scss";

.page-home {
  article {
    display: flex;
    align-items: stretch;

    .news-area {
      flex-grow: 1;
    }

    aside {
      width: 400px;

      img {
        width: 100%;
        margin-top: 60px;
      }
    }
  }
}

@media (max-width: 800px) {
  article {
    aside {
      display: none;
    }
  }
}

@media only screen and (min-width: 800px) and (max-width: 1024px) {
  .page-home {
    article {
      aside {
        width: 240px;

        img {
            margin-top: 30px;
        }
      }
    }
  }
}
