@import "../../App.scss";

.form-border {
  $borderWidth: 8px;
  $headerHeight: 80px;

  position: absolute;
  margin: 5% 10% auto 10%;
  width: 80%;
  min-height: 100px;
  background-color: rgba($DESIGN_BLACK_10, 0.9);
  border: 8px solid $DESIGN_ORANGE;

  .form-border-article {
    .form-border-header {
      display: flex;
      align-items: center;
      justify-content: center;
      height: $headerHeight;
      background-color: $DESIGN_WHITE;
    }
  }
}

@media only screen and (max-width: 960px) {
  .form-border {
    margin: 0 auto;
    width: 100%;
    border: none;
    background-color: $DESIGN_BLACK_10;

    .form-border-article {
        .form-border-header {
            display: none;
        }
    }
  }
}
